# Fundamentals of Python programming Assignment for Certification
---

##### Name : Sarath D
##### Branch : BCA
##### Year : 2nd 
##### Campus : HCAS
###

---

### <ins>Section 1: Python Operators and Control Structures</ins> 
###

**1. Question:** Write a Python program to calculate the sum of all numbers in a list using a for loop.

   **Sample Input:** numbers = [1, 2, 3, 4, 5] <br>
   **Sample Output:** 15

In [ ]:
# Solution :

numbers = [1,2,3,4,5]
total = 0
for i in numbers:
    total += i
print(total)

15

**2. Question:** What is the output of the following code?

**Code:**

x = 5 <br>
y = 2<br>
print(x ** y)<br>
          
**Sample Output:**

25

<table>
    <tr>
        <td style="text-align: left;">
            <b>Answer:</b> <br>
            25 <br>
            <b>Explanation:</b> <br>
            In python, the double asterisk ** represent power of number. <br>
            The first number will get powered with the second number, so (5 power of 2) will be the output
        </td>
    </tr>
</table>

**3. Question:** Write a Python program to check if a number is a palindrome using a while loop.

**<u>Sample Input:</u>** num = 12321 <br>
**<u>Sample Output:</u>** True

In [74]:
# Solution :

num = 12321 
duplicate = num 
container = '' 

while(duplicate>0): 
    container += str(duplicate%10)
    duplicate = duplicate//10
    
print("True" if num == int(container) else "False")

True

**4. Question:** What is the output of the following code?

**Code:**

fruits = ['apple', 'banana', 'cherry']<br>
print(fruits[-1])

**Sample Output:**

cherry

<table>
    <tr>
        <td style="text-align: left;">
          <b>Answer:<br></b>
cherry

<b>Explaination:<br></b>
Negative Indexing.<br>The [-1] index range will return the last element of the list.<br> So here in the above prorgam, the last element "cherry" got printed.
        </td>
    </tr>
</table>

**5. Question:** Write a Python program to calculate the average of all numbers in a list using a for loop.

**Sample Input:** numbers = [1, 2, 3, 4, 5]<br>
 **Sample Output:** 3.0

In [ ]:
# Solution:

numbers = [1,2,3,4,5]
total = 0

for i in numbers:
    total += i
    
print(total/len(numbers))

3.0

---

### <ins>Section 2: Lists and Dictionaries</ins>
###

**6. Question:** Write a Python program to create a dictionary with student names as keys and their grades as values.

 **Sample Input:** students = ['John', 'Alice', 'Bob'], grades = [90, 85, 95] <br>
 **Sample Output:** {'John': 90, 'Alice': 85, 'Bob': 95}

In [77]:
# Solution :

students = ['John', 'Alice', 'Bob']
grades = [90, 85, 95]
dictionary = {}

for i in range(len(students)):
    dictionary[students[i]] = grades[i] 

print(dictionary)

{'John': 90, 'Alice': 85, 'Bob': 95}

**7. Question:** What is the output of the following code?
 
**Code:**

 numbers = [1, 2, 3, 4, 5]<br>
 print(numbers[1:3])
 
**Sample Output:** 
[2, 3]

<table>
    <tr>
        <td style="text-align: left;">
         <b>Answer:<br></b>
[2:3]

<b>Explaination:<br></b>
The above program doing slicing. <br>
Basically it will extract from one index to amother index. The 2 numbers inside the square bracket represent the starting and ending indices.<br>
In the above program "numbers[2,3]" represent the elements from index 1 to 2, so the reesult is [2,3].
        </td>
    </tr>
</table>

**8. Question:** Write a Python program to sort a list of numbers in ascending order using the sorted() function.

 **Sample Input:** numbers = [4, 2, 9, 6, 5]<br>
 **Sample Output:** [2, 4, 5, 6, 9]

In [78]:
# Solution :

numbers = [4,2,9,6,5]
print(sorted(numbers))

[2, 4, 5, 6, 9]

**9. Question:** What is the output of the following code?

**Code:**

 fruits = {'apple': 5, 'banana': 10, 'cherry': 15}<br>
 print(fruits.get('banana'))
 
**Sample Output:**

10

<table>
    <tr>
        <td style="text-align: left;">
         <b>Answer:<br></b>
10

<b>Explaination:<br></b>
In dictionary, the get() method will extract the value of the key mentioned in the paramater.<br>
So, here in the above code the key named "banana" 's value "10" got extracted from the dictionary named "fruits" and displayed.
        </td>
    </tr>
</table>

**10. Question:** Write a Python program to create a list of squares of all numbers from 1 to 10 using a list comprehension.

 **Sample Output:** [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [79]:
# Solution :

print([ x**2 for x in range(1,11) ])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

---

### <ins>Section 3: Advanced Topics</ins>
###

**11. Question:** Write a Python program to calculate the factorial of a number using recursion.

**Sample Input:** num = 5<br>
**Sample Output:** 120

In [80]:
# Solution :

num = 5
fact = 1

for x in range(1,num+1):
    fact *= x

print(fact)

120

**12. Question:** What is the output of the following code?

**Code:**

 numbers = [1, 2, 3, 4, 5]<br>
 print(list(reversed(numbers)))

**Sample Output:**<br> 

[5, 4, 3, 2, 1]

<table>
    <tr>
        <td style="text-align: left;">
           <b>Answer:<br></b>
[5,4,3,2,1]

<b>Explaination:<br></b>
The reversed() methood will reverse the list element from index -1 to -[len of the variable}<br>
So here the elements are displayed in the reversed position,then got converted into list using list method.
        </td>
    </tr>
</table>

**13. Question:** Write a Python program to create a generator that yields the Fibonacci sequence up to the nth term.

**Sample Input:** n = 10 <br>
**Sample Output:** [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [81]:
# Solution :

def fibo_generator(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b

n = 10
fibo = list(fibo_generator(n))
print(fibo)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

**14. Question:** What is the output of the following code?

**Code:**

  import math<br>
  print(math.pi)

**Sample Output:**

3.14159...

<table>
    <tr>
        <td style="text-align: left;">
           <b>Answer:<br></b>
3.14159...

<b>Explaination:<br></b>
The math module contains list of mathemetical  function,we imported it in our program.<br>
After we imported it, we displaying the value of "pi" from the math module. So the value of pi 3.14159... is displayed.
        </td>
    </tr>
</table>

**15. Question:** Write a Python program to print the inverted star pyramid of height 5.

In [82]:
# Solution :

n = 5

for i in range(n, 0, -1):
        print(' ' * (n - i) + '*' * (2 * i - 1))

*********
 *******
  *****
   ***
    *


---
# Thanking You